.floatingdiv{
    /* width: 3rem; */
    height: 4rem;
    display: flex;
    justify-content: space-around;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
}

.floatingdiv > img{
    transform: scale(0.4);
}

.floatingdiv > span{
    font-family: sans-serif;
    font-size: 1rem;
    color: red;
}

@media  screen and (max-width:500px){
    .floatingdiv>img{
        transform: scale(0.5);
    }
    .floatingdiv>span{
        position:static;
    }
}